<div class="main">
  <div>
    <p class="users-p">User Requests</p>
    <div style="margin: 6px 0px;">
      <button (click)="sectionChanged(2)" class="section-button"
        [class.selected-section]="currentSection==2">Pending</button>
      <button (click)="sectionChanged(1)" class="section-button"
        [class.selected-section]="currentSection==1">Accepted</button>
      <button (click)="sectionChanged(3)" class="section-button"
        [class.selected-section]="currentSection==3">Cancelled </button>
    </div>
    <div>
      <table class="table table-hover table-borderless">
        <thead>
          <tr class="tr-head">
            <th scope="col"> Name </th>
            <!-- <th scope="col"> Email </th> -->
            <th scope="col"> Mobile Number </th>
            <th scope="col"> Registration date </th>
            <!-- <th scope="col"> Status </th> -->
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let user of users | paginate: { itemsPerPage: itemsPerPage, currentPage: p,totalItems: totalUsers }">
            <td (click)="navTo(user.UserID)">{{user.UserName}}</td>
            <!-- <td (click)="navTo(user.UserID)">{{user.EmailID}}</td> -->
            <td (click)="navTo(user.UserID)">{{user.MobileNumber}}</td>
            <td (click)="navTo(user.UserID)">{{user.CreatedAt | date}}</td>

            <!-- <td>
                <label class="switch">
                  <input  [(ngModel)]="user.UserStatus"
                    type="checkbox">
                  <span class="slider round"></span>
                </label>
              </td> -->

          </tr>

        </tbody>
      </table>
      <div class="pagination-div">
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
