.main {
    width: 90%;
    margin: 20px auto;
    font-family: 'Roboto' !important;
  
    .head-add-div {
      display: flex;
      justify-content: space-between;
      margin: 10px 0px;
  
      .users-p {
        color: rgba(26, 23, 23, 1);
        font-size: 25px;
        line-height: 30px;
        font-family: 'Roboto';
      }
  
      button {
        color: #ffffff;
        font-size: 12px;
        height: 32px;
        padding: 5px 20px;
        background-color: #ED7225;
        font-family: 'Roboto' !important;
  
      }
    }
  
    .table {
      .tr-head {
        background-color: #FFFFFF;
        border: none;
      }
  
      th {
        font-size: 15px;
      }
  
      tbody {
  
        tr {
          cursor: pointer;
          font-size: 14px;
          line-height: 26px;
          color: rgba(26, 23, 23, 1);
          border-bottom: 1px solid #dad7d7 !important;
        }
  
        .switch {
          position: relative;
          display: inline-block;
          // width: 50px;
          // height: 22px;
          width: 36px;
          height: 18px;
        }
  
        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }
  
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;
        }
  
        .slider:before {
          position: absolute;
          content: "";
          // height: 20px;
          // width: 20px;
          // left: 4px;
          height: 18px;
          width: 20px;
          left: 0px;
  
          background-color: #ED7225;
          -webkit-transition: .4s;
          transition: .4s;
        }
  
        input:checked+.slider {
          background-color: #ffffff;
        }
  
        input:focus+.slider {
          box-shadow: 0 0 1px #ffffff;
        }
  
        input:checked+.slider:before {
          -webkit-transform: translateX(18.5px);
          -ms-transform: translateX(18.5px);
          transform: translateX(18.5px);
        }
  
        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }
  
        .slider.round:before {
          border-radius: 50%;
        }
  
      }
    }
  }
  
.date-ips {
  margin: 4px;
  background: #FFFFFF;
  border: 1px solid #6865F0;
  border-radius: 10px;
  color: #6865F0;
  padding: 5px;
  font-size: 18px;
  font-family: 'Rubik';
  text-indent: 5px;
  max-width: 184px;
}
::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="rgb(104, 101, 240)" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

.go-btn {
  background: #6865f0;
  color: white;
  padding: 4px 10px;
  font-size: 16px;
  font-family: 'Rubik';
  border-radius: 18px;
}
