<div class="main">
  <div>
    <p class="users-p">Dashboard</p>
    <div class="dashboard-content">
      <div class="row">
        <div class="col-sm-4">
          <div class="dashboard-card">
            <h5>Total Wallet Load</h5>
            <h3> {{ adminDashboard?.Inflow | currency: "INR":true }} </h3>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="dashboard-card">
            <h5>Total Payouts</h5>
            <h3> {{ adminDashboard?.Outflow | currency: "INR":true }} </h3>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="dashboard-card">
            <h5>Total Wallet Amount</h5>
            <h3> {{ adminDashboard?.TotalWalletAmount | currency: "INR":true }} </h3>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="dashboard-card">
            <h5>Total Business Users</h5>
            <h3> {{ adminDashboard?.BusinessUsersCount }} </h3>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="dashboard-card">
            <h5>Total Retail Users</h5>
            <h3> {{ adminDashboard?.UsersCount }} </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
