.main {
  width: 90%;
  margin: 20px auto;
  font-family: 'Roboto' !important;

  .user-delete-div {
    display: flex;
    // justify-content: space-between;
    margin: 20px 0px;

    .users-p {
      color: rgba(26, 23, 23, 1);
      font-size: 25px;
      margin: 0;
      font-family: 'Roboto';
    }

    img {
      width: 16px;
      margin-top: -3px;
    }

    button {
      border: solid 1px #fffdfc;
      border-radius: 10px;
      font-size: 18px;
      margin: 2px;
    }

    
  }

  //   .users-p {
  //     color: rgba(26, 23, 23, 1);
  //     font-size: 25px;
  //     line-height: 30px;
  //     font-family: 'Roboto';
  //   }

  .w-card {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    width: 96%;

    .transaction-table {
       tr {
        .cursor-pointer {cursor: pointer;}
      }
    }

    .person-img {
      height: 80px;
      width: auto;
      object-fit: cover;
      border-radius: 10px;
    }

    .grp-icon-p {
      display: flex;
      margin: 10px 20px;

      .user-name {
        font-weight: 800 !important;
        color: #1A1717 !important;
      }

      p {
        margin: 0 5px;
        color: #7C7C7C;
      }
    }

    .icons {
      height: 20px;
      width: auto;
      margin: 0 5px;
    }
  }
}

.d-flex {
  display: flex;
}

.active-sec {
  background: #6865f0;
  color: white;
}
.upload-img-png {
  margin: auto;
  width: 112px;
  image-rendering: -webkit-optimize-contrast;
  padding: 5px;
  cursor: pointer;
}

.dashboard-card{
  border-radius: 15px;
  background: #6865f052;
  padding: 15px;
  color: #333;
  margin: 5px;
  height: 97%;
}
.date-ips {
  margin: 4px;
  background: #FFFFFF;
  border: 1px solid #6865F0;
  border-radius: 10px;
  color: #6865F0;
  padding: 5px;
  font-size: 18px;
  font-family: 'Rubik';
  text-indent: 5px;
  max-width: 184px;
}
::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="rgb(104, 101, 240)" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

.go-btn {
  background: #6865f0;
  color: white;
  padding: 4px 10px;
  font-size: 16px;
  font-family: 'Rubik';
  border-radius: 18px;
}

.setting-btn {
  margin-bottom: 15px;
  .settings-width {
    width: 150px;

    .form-control {border-color: #6865f0;font-weight: bold;}
  }
  .setting-label {color: #000;font-size: 16px;font-weight: 700;margin-bottom: 10px;}

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    display: flex;

    li{
      color: #000;
      display: flex;
      align-items: center;
      position: relative;

      input[type=radio] {
        position: absolute;
        // visibility: hidden;
        opacity: 0;

        + .radio-label {
          &:before {
            content: '';
            background: #cac9c9;
            border-radius: 100%;
            display: inline-block;
            width: 15px;
            height: 15px;
            position: relative;
            top: 2px;
            margin-right: 1em; 
            cursor: pointer;
            text-align: center;
            transition: all 250ms ease;
          }
        }
        &:checked {
          + .radio-label {
            &:before {
              background-color: #6865F0;
            }
          }
        }
      }

      label{
        display: block;
          position: relative;
          font-weight: 300;
          font-size: 16px;
          padding-right: 30px;
          z-index: 9;
          cursor: pointer;
          -webkit-transition: all 0.25s linear;
          transition: all 0.25s linear;
        }

      }
    }
  }
  .setting-btns {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
  
    .btn-setting {background: #6865F0;color: #fff;padding: 4px 20px;border: 0;}
  }
// transaction popup
  .transaction-modal {
    background: rgba(0,0,0,.4);
    &.show {display: block;}
    .btn-close {position: absolute;right: 5px;top: 5px;background-color: darkgray;}
    .transaction-dialog {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      margin: 0 auto !important;

      .transaction-userdetail-table {
        position: relative;
        .padding-6px {padding-top: 6px;padding-bottom: 6px;}
        .padding-3px {padding-top: 3px;padding-bottom: 3px;}
        .btn-green {
          background: #007f00;
          border-radius: 50px;
          color: #fff;
          padding: 0px 5px;
        box-shadow: 1px 1px 1px rgb(0 0 0 / 80%);
        }
        .process-bg {
          background: #1eb76f;
          color: #fff;
          border-radius: 50px;
          padding: 5px 11px;
          display: inline-flex;
        }

        table {
          tr {
            // cursor: pointer;
            font-size: 14px;
            line-height: 26px;
            color: #1a1717;
            border-bottom: 1px solid #dad7d7 !important;
          }
          td {border-bottom: 0;}
        }
      }
    }
  }
  @media screen and (min-width: 992px) {
    .transaction-dialog { max-width: 800px;}
  }
