.main {
    width: 90%;
    margin: 20px auto;
    font-family: 'Roboto' !important;
  
    .head-add-div {
      display: flex;
      justify-content: space-between;
      margin: 10px 0px;
  
      .users-p {
        color: rgba(26, 23, 23, 1);
        font-size: 25px;
        line-height: 30px;
        font-family: 'Roboto';
      }
  
      button {
        color: #ffffff;
        font-size: 12px;
        height: 32px;
        padding: 5px 20px;
        background-color: #ED7225;
        font-family: 'Roboto' !important;
  
      }
    }
  
    .table {
      .tr-head {
        background-color: #FFFFFF;
        border: none;
      }
  
      th {
        font-size: 15px;
      }
  
      tbody {
  
        tr {
          cursor: pointer;
          font-size: 14px;
          line-height: 26px;
          color: rgba(26, 23, 23, 1);
          border-bottom: 1px solid #dad7d7 !important;
        }
  
        .switch {
          position: relative;
          display: inline-block;
          // width: 50px;
          // height: 22px;
          width: 36px;
          height: 18px;
        }
  
        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }
  
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;
        }
  
        .slider:before {
          position: absolute;
          content: "";
          // height: 20px;
          // width: 20px;
          // left: 4px;
          height: 18px;
          width: 20px;
          left: 0px;
  
          background-color: #ED7225;
          -webkit-transition: .4s;
          transition: .4s;
        }
  
        input:checked+.slider {
          background-color: #ffffff;
        }
  
        input:focus+.slider {
          box-shadow: 0 0 1px #ffffff;
        }
  
        input:checked+.slider:before {
          -webkit-transform: translateX(18.5px);
          -ms-transform: translateX(18.5px);
          transform: translateX(18.5px);
        }
  
        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }
  
        .slider.round:before {
          border-radius: 50%;
        }
  
      }
    }
  }
  