<div class="main">
  <div>
    <div class="head-add-div">
      <p class="users-p">Wallet transactions</p>
    </div>
    <div>
      <table class="table table-hover table-borderless">
        <thead>
          <tr class="tr-head">

            <th scope="col"> Customer Name </th>
            <th scope="col"> Date </th>
            <th scope="col"> Razorpay Transaction ID </th>
            <th scope="col"> Amount </th>
            <th scope="col"> Description </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactions | paginate: { itemsPerPage: 10, currentPage: p }">

            <td>{{transaction?.CustomerName}}</td>
            <td>{{transaction?.TransactionDateTime | date}}</td>

            <td>{{transaction?.Razorpay_TransactionID}}</td>
            <td>{{transaction?.Amount}}Rs <br>
              <span class="text-success" *ngIf="transaction?.TransactionStatus==1"> Success</span>
              <span class="text-danger" *ngIf="transaction?.TransactionStatus==2"> Pending</span>

            </td>
            <td>{{transaction?.Description}}</td>

            

          </tr>

        </tbody>
      </table>
      <div class="pagination-div">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
